<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/base :: head (title='Solicitud')}"></head>
<body class="bg-pastel-blue-50 flex flex-col min-h-screen transition-colors duration-300 dark:bg-gray-900 dark:text-white">
<div th:replace="~{layout/base :: header}"></div>

<main class="container mx-auto px-4 py-12 flex-grow">
    <div class="w-full max-w-4xl mx-auto">
        <h3 class="text-xl font-semibold text-pastel-blue-800 mb-4 dark:text-pastel-blue-300">Hecho seleccionado</h3>
        <div class="shadow-md rounded-lg overflow-hidden border border-pastel-blue-200 dark:border-gray-700">
            <div th:replace="~{fragments/hechoCard :: hechoCard(hecho=${hecho}, showOptions=false, showAdminActions=false, coleccionId=null)}"></div>
        </div>

        <div class="mt-8 p-8 bg-white shadow-md rounded-xl border border-pastel-blue-200 dark:bg-gray-800 dark:border-gray-700">
            <h3 class="text-2xl font-semibold text-pastel-blue-900 mb-6 text-center dark:text-white">Motivo</h3>
            <form th:action="@{/crearSolicitud}" th:object="${solicitudDTO}" method="post">
                <input type="hidden" th:field="*{idHecho}" />
                <textarea th:field="*{motivo}" rows="7" class="w-full p-3 border border-gray-300 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white" placeholder="Motivo..." required></textarea>
                <button type="submit" class="w-full py-3 mt-6 bg-pastel-blue-600 text-white font-semibold rounded-lg">Enviar</button>
            </form>
        </div>
    </div>
</main>

<div th:replace="~{layout/base :: footer}"></div>
<div th:replace="~{layout/base :: scripts}"></div>
</body>
</html>