# Evitar problemas de EOL en Java y XML
*.java text eol=lf
*.xml text eol=lf
*.properties text eol=lf
*.sh text eol=lf
*.md text eol=lf

# Archivos binarios
*.jar binary
*.war binary
*.png binary
*.jpg binary
*.class binary

# Normalizar saltos de línea
* text=auto