# Maven
/target/
/*/target/
!.mvn/wrapper/maven-wrapper.jar

# Logs
*.log

# IDEs
.idea/
*.iml
out/
workspace.xml
tasks.xml
usage.statistics.xml


# Eclipse
.project
.classpath
.settings/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Environment
.env

